<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="LanaSoft.ConfigDatabase.Dal.Properties.Settings.ConfigDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ConfigDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>