<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
  <!--add name="CONFIG_ConnectionString" 
        connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDbFilename=|DataDirectory|\ConfigDB.MDF;"
        providerName="System.Data.SqlClient" /-->
</connectionStrings>
</configuration>